{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="page-container">
    <div class="container">
        <h2 class="text-center section-title mt-5 ">
            Favourites
        </h2>
    <div class="row">
        {% include "users/includes/sidebar.html" %}
        
      <div class="col-8">
        <div class="row">
          {% if favourite|length == 0 %}
          <h6 class="sm-heading"> You have no favourites yet</h6>
          {% else %}
            {% for product in favourite %} 
              <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                  
                    <a href="{% url 'product_detail' product.slug %}">
                      {% if product.image %}
                      <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </a>  
                  
                    <a href="{% url 'product_detail' product.slug %}">
                      {% else %}
                      <img src="{{ MEDIA_URL}}placeholder.jpg" class="card-img-top img-fluid" alt="{{ product.name }}">
                    </a>
                  {% endif %}  
      
                  <div class="card-body pb-0">
      
                  {% if product.category %}
                    <p class="small mt-1 mb-2">
                        <a class="text-muted" href="">
                            <i class="fas fa-tag mr-1"></i> {{ product.category }}
                        </a>
                    </p>
                  {% endif %} 
                    <p class="mb-0 fs-5">{{ product.name }}</p>
                    <p class="lead mb-2 text-left fw-bold">€{{ product.price }}</p>
                      
                  </div>
                </div>
              </div>
              {% endfor %}
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}