{% extends 'base.html' %}

{% load static %}

{% load shopbag_tools %}

{% block content %}

    <section class="section-content padding-y bg">
        <div class="page-container">
            <div class="container">
                <h2 class="text-center section-title ">
                    Shopping Cart
                </h2>
                <br>
                {% if bag_items|length > 0 %}
                    <p class="main-text text-muted">You have
                        <strong>
                            {{ bag_items|length }}
                        </strong>
                        products in the cart.
                    </p>
                {% endif %}

                <div class="row">
                    <div class="col-lg-9">
                        {% if bag_items %}
                            <div class="card">
                                <table class="table table-borderless table-shopping-cart">
                                    <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Product</th>
                                            <th scope="col"></th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col" class="text-right"></th>
                                        </tr>
                                    </thead>

                                    {% for item in bag_items %}
                                    
                                    <tbody>
                                        <tr>
                                            <td class="w-25">
                                                {% if item.product.image %}
                                                    <img src="{{ item.product.image.url }}" class="img-fluid" alt="{{ item.product.name }}">
                                                {% else %}
                                                    <img src="{{ MEDIA_URL }}placeholder.jpg" class="img-fluid" alt="{{ item.product.name }}">  
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p class="title text-dark mb-0">
                                                        <strong>{{ item.product.name }}</strong>
                                                    </p>
                                                    <p class="my-0 mt-0"><strong>Size: </strong>
                                                        {% if item.product.has_sizes %}
                                                            {{ item.size|upper }}
                                                        {% else %}
                                                            N/A
                                                        {% endif %}
                                                    </p>
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <form class="form update-form" action="{% url 'update_item_bag' item.item_id %}" method="POST"> 
                                                    {% csrf_token %}
                                                    
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}" 
                                                                id="minus_item_{{ item.item_id }}">
                                                                    <span>
                                                                        <i class="fas fa-minus fa-sm"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <input class="form-control form-control-sm qty_input" type="number" name="quantity" 
                                                                value="{{ item.quantity }}" min="1" max="99" 
                                                                data-item_id="{{ item.item_id }}" 
                                                                id="qty_{{ item.item_id }}">

                                                                <div class="input-group-append">
                                                                    <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}" 
                                                                    id="plus_item_{{ item.item_id }}">
                                                                        <span>
                                                                            <i class="fas fa-plus fa-sm"></i>
                                                                        </span>
                                                                    </button>
                                                                    {% if item.product.has_sizes %}
                                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                                    {% endif %}
                                                                </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <div class="price">
                                                        {{ item.product.price | calc_subtotal:item.quantity}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="bag-btn text-right">
                                                <a class="update-pr-link btn btn-action btn-sm text-capitalize">
                                                    Update</a>
                                                <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger btn-sm">
                                                    Remove</a>
                                            </td>
                                                <!-- Modal -->
                                                
                                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete product from the shopping cart </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                    <p class="main-text">You are going to delete the item from your shopping cart. 
                                                        <br> 
                                                        Confirm?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a class="remove-item btn btn-danger" id="remove_{{item.item_id}}" data-product_size="{{ item.size }}">Remove</a>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <dl class="dlist-align">
                                    <dt>Total price:</dt>
                                    <dd class="text-right">€
                                        {{ total|floatformat:2 }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Delivery:</dt>
                                    <dd class="text-right">
                                        €
                                        {{ delivery|floatformat:2 }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                    <dt>Grand Total:</dt>
                                    <dd class="text-right text-dark b">
                                        <strong>€
                                            {{ grand_total|floatformat:2 }}</strong>
                                    </dd>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="main-text text-success">Spend €
                                            <strong>{{ free_delivery_delta }}</strong> more
                                            and get free shipping!</p>
                                    {% endif %}
                                </dl>
                                <hr>
                                <p class="text-center mb-3">
                                    <img src="" height="26"></p>
                                <a href="{% url 'checkout' %}" class="btn btn-action-rev btn-block mb-3">
                                    Checkout
                                        <i class="fas fa-lock"></i>
                                </a>
                                <a href="{% url 'all_products' %}" class="btn btn-action btn-block">Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% else %}
                    <h4 class="text-lg-start text-center">Your shopping cart is empty</h4>
                    <a href="{% url 'all_products' %}" class="btn btn-action btn-block">Continue Shopping</a> 
                {% endif %}   
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <!-- <script src="{% static 'shopbag/js/shopbag.js' %}"></script> -->
    <script src="{% static 'products/js/products.js' %}"></script>

    <script>
        //Shopbag update/remove
        //update quantity on click
        $('.update-pr-link').click(function(e){
            let form = $(this).parent().prev().prev().children('.update-form')
            form.submit();
        });

        //remove quantity on click
        $('.remove-item').click(function(e){
            let csrfToken = '{{csrf_token}}'
            let itemId = $(this).attr('id').split('remove_')[1];
            let size = $(this).data('poduct_size');
            let url = `/shopbag/delete/${itemId}/`
            let data= {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        
            $.post(url, data)
            .done(function(){
                location.reload();
            })
        });
    </script>

{% endblock %}