@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:wght@400;600;700&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Banner  */
#delivery-banner {
    background-color:#ea8b4b;
}


/* Navigation */
.drop-head,
.dropdown-item {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}

.drop-head {
    font-weight: 600;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-text {
   color: #ea8b4b;
   text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.fa-chevron-down:before,
.fa-search:before {
    color: #ea8b4b;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.navbar-toggler {
    border: 0;
}

#myCarousel {
    height: calc(100vh-120px);
}



/*-----------------CAROUSEL---------------*/

.carousel-item {
    max-height: 650px;
}

.carousel-content {
    position: absolute;
    top: 40%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    z-index: 20;
    padding: 5px;
    text-align: center;
}

.carousel-heading {
    text-transform: uppercase;
    color: #f9f8f6;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}



/*-------FOOTER---------*/

footer {
    width: 100%;
    height: 6.2rem;
    margin-top: 1.5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    color: #ea8b4b;
}

.sm-icon {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 3rem;
    text-decoration: none;
    color: #ea8b4b;
}

.sm-icon a {
    color: #ea8b4b;
    font-size: 1.7rem;
    border-radius: 50%;
    border: solid #ea8b4b;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: inline-block;
}

.sm-icon a:hover,
.sm-icon a:focus {
    background-color: #ea8b4b;
    color: #f9f8f6;
    transition: all 0.2s ease-in;
}

.footer-text {
    margin: 0 2.5rem 15px 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #ea8b4b ;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
}

/*-------FOOTER MEDIA QUERIES---------*/

/*-------for tablets---------*/
@media(max-width:768px) {
    .sm-icon {
        margin-right: 1rem;
        font-size: 12px;
    }
    .footer-text {
        margin-right: 1rem;
        font-size: 12px;
    }
}
/*-------for small mobile devices---------*/
@media(max-width:600px) {
    .sm-icon {
        margin-right: 1rem;  
    }

    .sm-icon a {
        font-size: 17px;
        width: 2rem;
        height: 2rem;
    }

    .footer-text {
        margin-right: 0.8rem;
        font-size: 10px;
    }
}