@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:wght@400;600;700&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Banner  */
#delivery-banner {
    background-color:#ea8b4b;
}

/* Navigation */
.drop-head,
.dropdown-item {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; 
}


.drop-head {
    font-weight: 600;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-text {
   color: #ea8b4b;
   text-transform: uppercase;
   font-size: 26px;
   
}

.main-title {
    color: #ea8b4b;
    text-transform: uppercase;
    font-size: 20px; 
}

.main-logo-link {
    width: fit-content;
}

.main-text {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.fa-chevron-down:before,
.fa-search:before {
    color: #ea8b4b;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.navbar-toggler {
    border: 0;
}

.list-inline-item a{
    font-size: 1rem; 
 }

/*-----------------CAROUSEL---------------*/

.carousel-item img {
    max-height: 90vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.carousel {
    margin-top: 100px;
}

.carousel-content {
    position: absolute;
    top: 40%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    z-index: 20;
    padding: 5px;
    text-align: center;
}

.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-heading {
    text-transform: uppercase;
    color: #f9f8f6;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

/* Sections */
#products,
#about,
#news {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page-container {
    padding-top: 8rem;
    position: relative;
    height: 100%;
    min-height: 80vh;
}

/* buttons */

.btn-action {
    background: white;
    color: #ea8b4b;
    border: solid 1px #ea8b4b;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.btn-action:hover,
.btn-action:active,
.btn-action:focus {
    background: #ea8b4b;
    color: white;
    border: solid 1px white;
}

.btn-action-rev {
    background: #ea8b4b;
    color: white;
    border: solid 1px white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.btn-action-rev:hover,
.btn-action-rev:active,
.btn-action-rev:focus {
    background: white;
    color: #ea8b4b;
    border: solid 1px #ea8b4b;
}

/* Heading */
.section-title {
    font-family: 'Open Sans', sans-serif;
    color: #ea8b4b;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin: 25px;
    text-transform: uppercase;
}

.sm-heading {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.card {
    cursor: pointer;
}

.card-cat:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


/* About */
.section-img img {
    width: 500px;
    height: 100%;
}

/* bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.toast {
    width: 300px;
}

.upd-toast {
    overflow: visible;
}

.toast-body {
    font-family: 'Open Sans', sans-serif;
}

.toast-capper {
    height: 4px;
}

.bag-toast-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -8px;
    right: 36px;
}
 .arrow-red {
     border-bottom-color:#dc3545;
 }
 .arrow-green {
    border-bottom-color:#198754;
}

.arrow-yellow {
    border-bottom-color:#ffc107;
}

.arrow-blue {
    border-bottom-color:#0dcaf0;
}

/*-------FOOTER---------*/

footer {
    width: 100%;
    height: 6.2rem;
    margin-top: 1.5rem;
}

.social-media {
    display: flex;
    justify-content: center;
    color: #ea8b4b;
}

.sm-icon {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 3rem;
    text-decoration: none;
    color: #ea8b4b;
}

.sm-icon a {
    color: #ea8b4b;
    font-size: 1.7rem;
    border-radius: 50%;
    border: solid 1px #ea8b4b;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    display: inline-block;
}

.sm-icon a:hover,
.sm-icon a:focus {
    background-color: #ea8b4b;
    color: #f9f8f6;
    transition: all 0.2s ease-in;
}

.footer-text {
    margin: 0 2.5rem 15px 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #ea8b4b ;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
}

/*-------FOOTER MEDIA QUERIES---------*/

@media (min-width: 1140px) {

    .main-logo-text {
        font-size: 32px;
     }
}

/*-------for tablets---------*/
@media(max-width:768px) {
    .sm-icon {
        margin-right: 1rem;
        font-size: 12px;
    }
    .footer-text {
        margin-right: 1rem;
        font-size: 12px;
    }

    .bag-btn .btn-action {
        margin-bottom: 0.3rem;
    }

    .carousel-heading {
        font-size: 17px;
    }

    .section-title {
        font-size: 1.9rem;
    }

    .sm-heading {
        font-size: 1.1rem;
    }
}
/*-------for small mobile devices---------*/
@media(max-width:600px) {
    .sm-icon {
        margin-right: 1rem;  
    }

    .carousel-heading {
        font-size: 16px;
    }

    .sm-icon a {
        font-size: 17px;
        width: 2rem;
        height: 2rem;
    }

    .footer-text {
        margin-right: 0.8rem;
        font-size: 10px;
    }
}


/* Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #ea8b4b;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ea8b4b;
    border-color: #ea8b4b;
    border-radius: 0;
}

/* Allauth form formatting */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7cd;
}

 .form-check-input:checked {
    background-color: #ea8b4b;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ea8b4b;
    border: 1px solid #ea8b4b;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    text-transform: uppercase;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #ea8b4b;
    background-color: #fff;
    border-color: #ea8b4b;
}

.allauth-form-inner-content a {
	color: #ea8b4b; /* text-info */
}
