<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-lg-none">
            <a class="nav-link logo-font drop-head text-dark mr-5" href="#">Home</a>
        </li>
        <li class="nav-item dropdown d-lg-none">
            <a class="logo-font drop-head nav-link text-dark mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Coffee</a>
                <a href="" class="dropdown-item ">Equipment</a>
                <a href="" class="dropdown-item ">Merch</a>
            </div>
        </li>
        </li>
        <li class="nav-item dropdown d-lg-none">
            <a class="logo-font drop-head nav-link text-dark mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter products <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="text-dark nav-link d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div>
                    <p class="my-0 logo-font drop-head text-dark mr-5">Search <i class="fas fa-search fa-lg"></i></p>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="qry" placeholder="Search across the shop">
                        <div class="input-group-append">
                            <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        
            </div>
           
        </li>
    </ul>
</div>