{% extends 'base.html' %}


{% block content %}

<section class="section-content">
<div class="page-container">
    
<div class="container">
    <h2 class="text-center section-title ">
        My profile
    </h2>
	<div class="row">
		{% include "users/includes/sidebar.html" %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<div class="d-inline-block mr-3 fw-bold">Logged in as:</div>
			<span>{{profile}}</span>
		</header>
		<div class="card-body">
			<div class="row">

			<div class="col-md-6">
				<div class="card text-center">
					<div class="card-body">
						<h5 class="card-title">Total Orders:</h5>
						<h6>{{orders_count}}</h6>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card text-center">
					<div class="card-body">
						<h5 class="card-title">User summary:</h5>
						<p class="mb-0">{{profile.default_phone_number}}</p>
						<p class="mb-0">{{profile.default_town_or_city}}</p>
						<p class="mb-0">{{profile.default_country.name}}</p>
                        
					</div>
				</div>
			</div>


			</div> 
		</div> 

		</article> 
	</main>
</div> 
</div>

</div>
</section>

{% endblock %}