{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Carousel-->

<div id="myCarousel" class="carousel carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{{MEDIA_URL}}slider-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content">
            <h3 class="carousel-heading">Find our the nearest coffeeshop to you</h3>
            <a class="btn btn-link" href="#">
            </a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{MEDIA_URL}}slider-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Products preview section -->
  <section id='products'>
  <div class="container">
      <h3 class="section-title">Most rated products</h3>
  {% for product in products %}
  <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <img src="{{MEDIA_URL}}slider-1.jpg" class="card-img-top" alt="product-image">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
</section>
<!-- About section -->
<section id="about">
<div class="container">
  <h3 class="section-title">About us</h3>
  <div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <div class="section-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsam fugit sit adipisci ducimus neque dignissimos optio alias ut perspiciatis ullam eaque, 
        aspernatur unde quasi natus possimus. Nihil quibusdam optio ab.</p>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
    <div class="section-img">
        <img src="{{MEDIA_URL}}slider-1.jpg" alt="about-image">
    </div>
    </div>
  </div>
</div>
</section>
<!-- News section -->
<section id="news">
<div class="container">
    <h3 class="section-title">Our news</h3>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
          <img src="{{MEDIA_URL}}slider-1.jpg" class="card-img-top" alt="product-image">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-action rounded-0">Go somewhere</a>
          </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}