.form-check-input:checked {
    background-color: #ea8b4b;
    border-color: #ea8b4b
}

.form-check-input:focus {
    border-color: #ea8b4b;
    box-shadow: none;
}

.text-done {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 2;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

/* Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}