{% extends 'base.html' %}
{% load static %}


{% block content %}
  
<div class="page-container">

<section id='products'>
    <div class="container">
    {% for cat in current_categories %}
        <h3 class="section-title">{{cat.name}}</h3>   
    {% endfor %}

    {% if not current_categories %}
        <h3 class="section-title">Products</h3>
    {% endif %}

  </div>
  <div class="row">
      <div class="product-container col-10 offset-1">
          <div class="row mt-1 mb-2">
                  <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                      <div class="sort-select-wrapper w-30">
                          <select id="sort-selector" class=" form-select rounded-0 border border{% if current_sorting != 'None_None' %}-dark{% else %}-muted{% endif %}">
                              <option value="reset" {% if current_sorting == 'None_None' %} selected {% endif %}>Sort by...</option>
                              <option value="price_asc" {% if current_sorting == 'price_asc' %} selected {% endif %}>Price (low to high)</option>
                              <option value="price_desc" {% if current_sorting == 'price_desc' %} selected {% endif %}>Price (high to low)</option>
                              <!-- <option value="rating_asc" {% if current_sorting == 'rating_asc' %} selected {% endif %}>Rating (low to high)</option>
                              <option value="rating_desc" {% if current_sorting == 'rating_desc' %} selected {% endif %}>Rating (high to low)</option> -->
                              <option value="name_asc" {% if current_sorting == 'name_asc' %} selected {% endif %}>Name (A-Z)</option>
                              <option value="name_desc" {% if current_sorting == 'name_desc' %} selected {% endif %}>Name (Z-A)</option>
                              <option value="category_asc" {% if current_sorting == 'category_asc' %} selected {% endif %}>Category (A-Z)</option>
                              <option value="category_desc" {% if current_sorting == 'category_desc' %} selected {% endif %}>Category (Z-A)</option>
                          </select>
                      </div>
              </div>
              <div class="col-12 col-md-6 order-md-first">
                  <p class="text-muted mt-3 text-lg-start text-center">
                      {% if search_term or current_categories or current_sorting != 'None_None' %}
                          <span class="small"><a href="{% url 'all_products' %}">Back to all products</a> | </span>
                      {% endif %}
                      {{ products|length }} items {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                  </p>
              </div>
          </div>
    
    <div class="row">
      {% for product in products %} 
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100">
            {% if product.image %}
              <a href="{% url 'product_detail' product.slug %}">
                <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
              </a>  
            {% else %}
              <a href="">
                <img src="{{ MEDIA_URL}}placeholder.jpg" class="card-img-top img-fluid" alt="{{ product.name }}">
              </a>
            {% endif %}  

            <div class="card-body pb-0">

            {% if product.category %}
              <p class="small mt-1 mb-2">
                  <a class="text-muted" href="">
                      <i class="fas fa-tag mr-1"></i> {{ product.category }}
                  </a>
              </p>
             {% endif %} 
              <p class="mb-0 fs-5">{{ product.name }}</p>
              <p class="lead mb-2 text-left fw-bold">€{{ product.price }}</p>
                
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
  
    
    
  </div>
  </section>


</div>
{% endblock %}

{% block postloadjs %}
{{ block.super}}

    <script type="text/javascript">
        $('.btt-link').click(function(e){
            window.scrollTo(0,0)
        })

    </script>

    <script type="text/javascript">
        $("#sort-selector").change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if (selectedVal != "reset"){
                let sort = selectedVal.split("_")[0];
                let direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })

    </script>

{% endblock %}