{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="page-container">
    <div class="container">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img h-100" alt="{{ product.name }}">
        </div>
    </div>
        <div class="col-12 col-md-6 col-lg-6">

            <form action="" method="POST">
                {% csrf_token %}
                <div class="content-body">

                    <h2 class="title">{{ product.name }}</h2>
                    <div class="mb-3">
                        <div class="price h4">€ {{product.price}}</div>
                    </div>

                    <p>{{ product.description }}</p>

                    <hr>
                    <div class="row">
                        <div class="item-option-select">
                            <h6>Quantity</h6>
                            <select name="color" class="form-control" required>
                                
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item-option-select">
                            <h6>Select Size</h6>
                            <select name="color" class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <hr>
                    
                    <button type="submit" class="btn btn-action"> <span class="text">Add to Cart</span> <i class="fa fa-shopping-cart"></i> </button>
                </div> 
            </form>
        </div>
    </div> <!-- col.// -->
    </div> <!-- row.// -->
</div>
</div>

{% endblock %}