{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="page-container">
    <div class="container">
        <div class="card pt-4 pb-3">
    <div class="row no-gutters">
        
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <div class="card-body mb-4">
                <img src="{{ product.image.url }}" class="card-img h-100" alt="{{ product.name }}">
        </div>
    </div>
        <div class="col-12 col-md-6 col-lg-6">

                <div class="content-body p-2">

                    <h2 class="title">{{ product.name }}</h2>
                    <div class="mb-3">
                        <div class="price h4">€ {{product.price}}</div>
                    </div>

                    <p>{{ product.description }}</p>

                    <hr>
                    <form class="form" action="{% url 'add_item_bag' product.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                      
                                    <select class="form-control rounded-0 w-50" name="product_size" id="id_product_size">
                                        {% if product.category.name == 'coffee' %}  
                                        <option value="250g">250 g</option>
                                        <option value="500g">500 g</option>
                                        <option value="1kg">1 kg</option>
                                        
                                        {% else %}
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        {% endif %}
                                    </select>
                                                                        
                                </div>
                            {% endif %}
                            <div class="col-12 mb-4">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ product.slug }}"
                                                id="minus_item_{{ product.slug }}">
                                                <span class="icon"> 
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                         name="quantity" value="1" min="1" max="99" 
                                         data-item_id="{{ product.slug }}" 
                                         id="qty_{{ product.slug }}">

                                         <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0" 
                                            data-item_id="{{ product.slug}}"
                                                id="plus_item_{{ product.slug }}">
                                                <span class="icon"> 
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>

                                         </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-12{% if s %} mt-2 {% endif %}">
                                <a href="{% url 'all_products' %}" class="btn btn-action rounded-0 mt-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <button type="submit" class="btn btn-action-rev mt-2 ms-2"> <span class="text">Add to Cart</span> <i class="fa fa-shopping-cart"></i> </button>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                    
                    
                </div> 
            
        </div>
    </div> 
    </div> 
</div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super}}
<script src="{% static 'products/js/script.js' %}"></script> 
{% endblock %}